---
layout: default
---
<div class="row">
<div class="col-md-8">
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    {% if page.canonical-url == nil %}
    {% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
    {% else %}
    {% assign canonical = page.canonical-url %}
    {% endif %}
    <link rel="canonical" href="{{ canonical }}">
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
</div>
{% include sidebar.html %}
</div>

{% include fb-script.html %}